<h1><%= @test.title %> test questions:</h1>
<ul>
  <% @test.questions.each do |question| %>
  <li><%= question.body %></li>
  <% end %>
</ul>
<%= link_to 'Back', :root %> | <%= link_to 'Add new question', :new_test_question %>
