<h1>Passing the <%= @test_passage.test.title %></h1>

<h2>
  <%= @test_passage.current_question.body %>
</h2>
<br>
<b>
  question <%= @test_passage.current_question_number %> of
  <%= @test_passage.questions_count %>
</b>
