<h1><%= @test.title %> test questions:</h1>

<table>
  <tr>
    <th>Question</th>
    <th colspan="3">Action</th>
  </tr>
  <%= render @test.questions %>
</table>

<%= link_to t('back'), :root %> | <%= link_to t('new_question'), new_admin_test_question_path %>
