<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><%= t('.header') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
