<footer>
    <p>Test-Guru &copy; <%= current_year %></p>
    <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :blank %></p>
    <p>
        Vyacheslav Zavertanniy | <%= github_url('oozywaters', 'test-guru') %>
    </p>
</footer>
