<footer>
    <p>Test-Guru</p>
    <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :blank %></p>
    <p>
        Vyacheslav Zavertanniy
    </p>
</footer>
